# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
notes-api-web-server.pem

# Logs
logs/
*.log

# Environment variables
.env
.prod.env

# System files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
coverage/

# Editor settings
*.vscode/
*.idea/
*.swp

# Tests
.jest/
.nyc_output/

# Temporary files
tmp/
temp/